<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/login']">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer  mode="side" [opened]="drawerOpened">
    <mat-list role="list" class="list-item" >
      <mat-list-item role="pagina1" routerLink="pagina1" [routerLinkActive]="'activate'">pagina1</mat-list-item>
      <mat-list-item role="pagina2" routerLink="pagina2" [routerLinkActive]="'activate'">pagina2</mat-list-item>
      <mat-list-item role="pagina3" routerLink="pagina3" [routerLinkActive]="'activate'">pagina3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
